{% extends 'layouts/app.twig' %}

{% block content %}
<section class="pr-2 pl-2 mt-4">
  <div class="grid grid-cols-4 gap-3 max-2xl:grid-cols-3 max-xl:grid-cols-2 max-lg:grid-cols-1">
    {% for item in media %}
      <div class="w-full aspect-w-16 aspect-h-9">
        <div class="relative cursor-pointer mb-1 rounded-lg overflow-hidden media-item"
             data-video="{{ item.video }}"
             data-title="{{ item.title }}">
          {% if item.image %}
            <img src="{{ item.image }}" alt="">
          {% else %}
            <video class="w-full h-full object-cover object-center" src="{{ item.video }}" controls></video>
          {% endif %}
        </div>
        <div class="flex pt-2">
          <div class="overflow-hidden w-7 h-7">
            <img class="w-full h-full object-cover object-center rounded-2xl" src="{{ item.ico }}" alt="">
          </div>
          <div class="text-sm max-md:text-base ml-3">
            <ul>
              <li><a class="font-bold" href="#">{{ item.title }}</a></li>
              <li><a href="#">{{ item.subtitle }}</a></li>
              <li><span href="#">{{ item.info }}</span></li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{# <!-- Модальное окно для видео -->
<div id="videoModal" class="fixed top-0 left-0 w-full h-full bg-white hidden flex justify-between items-center">
  <div class="flex">
    <div>
      <video id="modalVideo" class=" object-cover object-center" controls></video>
      <div class="text-sm max-md:text-base ml-3">
        <a id="modalVideoTitle" class="font-bold" href="#"></a>
      </div>
    </div>
    <div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti laborum
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const mediaItems = document.querySelectorAll(".media-item");

    const videoModal = document.getElementById("videoModal");
    const modalVideo = document.getElementById("modalVideo");
    const modalVideoTitle = document.getElementById("modalVideoTitle");

    mediaItems.forEach((item) => {
      item.addEventListener("click", function () {
        const videoUrl = this.dataset.video;
        const videoTitle = this.dataset.title;

        modalVideo.src = videoUrl;
        modalVideo.title = videoTitle;
        modalVideoTitle.textContent = videoTitle;
        videoModal.classList.remove("hidden");
        modalVideo.play();
      });
    });

    videoModal.addEventListener("click", function () {
      modalVideo.pause();
      modalVideo.src = "";
      videoModal.classList.add("hidden");
    });
  });
</script> #}

{% endblock %}
