
{% extends 'layouts/app.twig' %}

{% block content %}
  <section class="pr-10 mt-10">
    <div class="grid grid-cols-4 gap-4 max-2xl:grid-cols-3 max-xl:grid-cols-2 max-lg:grid-cols-2 max-md:grid-cols-1">
      {% for item in media %}
        <div>
          <div class=" relative cursor-pointer mb-1 rounded-lg overflow-hidden">
            {% if item.image %}
              <img src="{{ item.image }}" alt="">
            {% else %}
              <video class=" w-full aspect-video" src="{{ item.video }}" controls></video>
            {% endif %}
          </div>
          <div class="flex">
            <div class=" text-xs ml-3">
              <ul>
                <li><a class=" font-bold" href="#">{{ item.title }}</a></li>
                <li><a href="#">{{ item.subtitle}}</a></li>
                <li><a href="#">{{item.info}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </section>


{% endblock %}
