{% extends 'layouts/app.twig' %} {% block content %}
<section class=" container mx-auto flex justify-center pr-2 pl-2 mt-4 pt-5">
	<div class="grid grid-cols-4">
		<div class=" col-span-3">
			<div class="">
				<video class=" w-full rounded-lg" controls>
					<source src="{{ attribute(media, title).video }}" type="video/mp4" />
				</video>
                
                <div class="flex pt-2">
				<div class="overflow-hidden w-7 h-7">
					<img
						class="w-full h-full object-cover object-center rounded-2xl"
						src="{{ attribute(media, title).ico }}"
						alt="" />
				</div>
				<div class="text-sm max-md:text-base ml-3">
					<ul>
						<li>
							<a class="font-bold" href="#">{{ attribute(media, title).title }}</a>
						</li>
						<li>
							<a href="#">{{ attribute(media, title).subtitle }}</a>
						</li>
						<li>
							<span href="#">{{ attribute(media, title).info }}</span>
						</li>
					</ul>
				</div>
			</div>
			</div>
		</div>
		<div class=" p-2 ">
			{% include 'partials/secondary.twig' %}
		</div>
	</div>
</section>
{% endblock %}
