<div class=" w-44 max-xl:w-24 pl-2 max-h-screen overflow-y-visible overflow-x-hidden top-0 bg-white">

<div class="py-1 mb-1 bg-white whitespace-nowrap ">
    <div class="flex flex-col">
        {% for menu_item in menu %}
            {% if menu_item.hr is defined and menu_item.hr %}
                <hr class="my-1 max-xl:hidden" />
            {% else %}
                {% set active_style = (selected_menu_index is defined and loop.index0 == selected_menu_index) ? 'bg-gray-300' : 'bg-white' %}
                <a href="?menu_index={{ loop.index0 }}"
                   class="flex items-center px-3 py-2 rounded-md transition hover:bg-gray-200 max-xl:flex-col {{ active_style }}">
                    <div class="flex max-xl:flex-col max-xl:grid justify-items-center">
                        <div class="w-4 max-xl:w-5">{{ menu_item.icon | raw }}</div>
                        <div class="pl-2 max-xl:pl-0">{{ menu_item.title }}</div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>


		{# Expand #}
		<div class="relative">
			<button
				type="button"
				class="px-3 py-2 w-full flex items-center justify-start p-1 bg-white text-gray-700 rounded-md transition hover:bg-gray-200 duration-100"
				id="menu-button"
				aria-expanded="false"
				aria-haspopup="true">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-4 h-5">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
				</svg>
				<p class="text-gray-700 mx-3">Развернуть</p>
			</button>

			<div
				class="origin-top-right right-0 mt-2 w-full bg-white  ring-black ring-opacity-5 hidden"
				role="menu"
				aria-orientation="vertical"
				aria-labelledby="menu-button"
				tabindex="-1">
				<div class="" role="none">
					<div class=" bg-white whitespace-nowrap w-full">
						<div class="flex flex-col">
							{% for expand_item in expand %} {% set active_style4 =
							(selected_expand_index is defined and loop.index0 ==
							selected_expand_index) ? 'bg-gray-300' : 'bg-white' %}
							<a
								href="?expand_index={{ loop.index0 }}"
								class="flex items-center px-3 py-2 rounded-md transition hover:bg-gray-200 {{
									active_style3
								}}">
								<div class="max-xl:w-7">{{ expand_item.icon | raw }}</div>
								<div class="pl-2">{{ expand_item.title }}</div>
							</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="my-1" />
		{# Footer #}
		<footer class="text-gray-600">
			<div class="p-2">
				{% for link in links_footer %}

				<a href="{{ link.url }}" class="">{{ link.title }}</a>

				{% endfor %}
			</div>
			{# Footer 2 #}
			<div class="p-2">
				{% for link in links_footer2 %}

				<a href="{{ link.url }}" class="">{{ link.title }}</a>

				{% endfor %}
			</div>
			<div class="pl-4 text-xs text-gray-500">
				© 2023 Google LLC
				<div />
			</div>
		</footer>
	</div>
</div>

<script>
	const menuButton = document.getElementById("menu-button")
	const menuItems = document.querySelectorAll('[role="menuitem"]')

	menuButton.addEventListener("click", () => {
		const expanded =
			menuButton.getAttribute("aria-expanded") === "true" || false
		menuButton.setAttribute("aria-expanded", !expanded)
		menuButton.nextElementSibling.classList.toggle("hidden")
	})

	menuItems.forEach((item) => {
		item.addEventListener("click", () => {})
	})
</script>








